body {
	background-color: white;
}
.header {
	margin: 0 auto;
	flex-shrink: 0;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	padding: 92px 49px 92px 51px;
	justify-items: center;
	align-items: center;
}

.header_menu_list {
	display: flex;
	gap: 25px;
	list-style: circle;
}

ul li:first-child {
	list-style: none;
}

.header_menu-link {
	color: #000;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	}

.item_decoration_none {
	text-decoration: none;
}

.header_logo-image{
	width: 148px;
	height: 105px;
}

.address-item {
	display: block;
}

.text-underline {
	display:inline-block;
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}

address { 
	all: initial;
  	padding-bottom: 7px; 
}

.address_row {
	max-width: 240px;
	color: #000;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24.3px; /* 135% */
	text-decoration: none;
}

.cover {
	display: flex;
	flex-direction: column;
	background-image: url(../images/cover.jpg);
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 757px;

}

.cover__title {
	gap: 20px;
	padding: 165px 50px 0px 50px;
}

.aligned-text{
	margin: 20px;
	display: block;
	color: #FFF;
	font-family: Raleway;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 115%; /* 115px */
	letter-spacing: 30px;
	text-transform: uppercase;
}

.letter-spacing-extended{
	color: #FFF;
	font-family: Raleway;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 60px;
	text-transform: uppercase;
}

.no-letter-spacing {
	letter-spacing: 0px;
}

.aligned-text_center {
	text-align: center;
	margin: 20px auto;
}
.aligned-text_right {
	text-align: right;
}

.cover__description {
  display: flex;
  justify-content: end;
  font-size: 22px;
  text-transform: uppercase;
  gap: 78px;
  align-items: center;
}

.cover__description-text {
	display: inline;
}