body {
	background-color: white;
}
.header {
	display: grid;
	grid-template-columns: auto auto auto;
	padding-top: 92px;
	padding-right: 49px;
	padding-left: 51px;
}

.header_logo-image{
	width: 148px;
	height: 105px;
}

.address-item {
	display: block;
}